.nav {
    padding: 20px;
    
    .container {
        // display: flex;
        // justify-content: space-between;
    }
}

.nav-menu {
    display: flex;
    justify-content: center;

    .nav-menu-item {
        .nav-link {
            padding: 10px;
            color: $primary-color;

            transition: all .2s ease;

            &.active {
                color: $bg-primary;
                background-color: $primary-color;
            }
        }
    }
}